<template>
  <div class="flex flex-col h-screen items-center">
    <div
      class="flex flex-col shadow-md rounded-l bg-gray-100
      py-4 px-8 w-full max-w-3xl justify-center items-center
      outline-none"
    >
      <div class="flex flex-col rounded-sm appearance-none mb-8">
        <div>
          Note
        </div>
        <form @submit="addNewItem">
          <input
            v-model="text"
            class="border border-gray-500 text-sm flex
            w-full h-full appearance-none py-4 px-4 w-64 leading-none
            rounded-full outline-none focus:shadow-outline focus:bg-blue-100 appearance-none"
            type="text"
          >
        </form>
      </div>
      <button
        class="h-10 bg-blue-300 text-white font-bold
        py-2 px-4 rounded-full appearance-none outline-none hover:bg-blue-500 shadow-sm"
        @click="addNewItem"
      >
        Add +
      </button>
    </div>
    <div
      class="flex flex-col shadow-md rounded-l bg-gray-100
      py-4 px-8 w-full max-w-3xl justify-center items-center
      outline-none"
    >
      <div v-for="(item,key) in list" :key="key"
        class="item-todo"
      >
        {{item}}
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue';

export default {
  name: 'Todo',
  data() {
    return {
      text: null,

      list: [
      ],
    };
  },
  components: {
  },
  methods: {
    addNewItem() {
      if (this.text !== null) {
        this.list.push(this.text);
      }
      this.text = null;
    },
  },
};
</script>

<style scoped>
  .item-todo{
    @apply bg-red-400 py-2 px-4 rounded-md shadow-md mb-4 text-white font-bold
  }
</style>
