<template>
  <div id="app">
    <div class="flex flex-row justify-center items-center bg-gray-100 h-12 mb-4" id="nav">
      <router-link class="link mr-2" to="/">Home</router-link> |
      <router-link class="link ml-2 mr-2" to="/about">About</router-link> |
      <router-link class="link ml-2 mr-2" to="/todo">Todo</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

  .link{
    @apply font-bold text-purple-500
  }
  .link:hover{
    @apply text-purple-600
  }

</style>
